* {list-style:none;
   text-decoration: none;
}

ul{
	border: 1px solid black;
}

li.post {
    font-size: 18px;
}

h2 {
	width: 100%;
    height: 100px;
    box-sizing: border-box
	border: 1px solid black;
	background-color: #005BB5; opacity: .35;
	font: bold;

}