<h2>Posts</h2>

<ul class="posts">
	<% @posts.each do |post| %>
		<li class="post">
			<%= link_to post.title, post.url %>
		</li>
		<li>
			<%= link_to "#{post.comments.count} comments", post_path(post) %>
		</li>
	<% end %>
<br>
	<div class="posts-nav">
		<%= paginate @posts %>
		<br>
		<%= link_to "Add a New Post", posts_new_path %>
	</div>
</ul>
